form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 15px 25px;
}
input {
  padding: 0 9px;
  height: 28px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
  color: black;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
  font-weight: 900;
}

h2 {
  color: black;
  font-size: 1.2rem;
}

.btnGrp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: start;
}
