.homepage {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  width: 100%;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  min-width: 100%;
  width: 100%;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
}
.left > span {
  color: black;
  font-size: 1.4rem;
  font-weight: 900;
}

.addBtn {
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  font-weight: 600;
  color: var(--accent-color);
  background-color: rgba(226, 235, 250, 255);
  padding: 10px 15px;
}
